{% extends 'base2.html' %}

{% block content %}
<video autoplay loop id="video-background" muted plays-inline; width=100%>
  <source src="{{ url_for('static',filename='video.mp4') }}" type="video/mp4"; codecs="avc1.4D401E, mp4a.40.2">
</video>
<div class="card">
    <div class="card-body">
      <h3 class="card-title">Our Story</h3>
      <p class="card-text">We are trying to change the college learning experience.</p>
      <p class="card-text"><small class="text-muted">Hi there! Welcome to our site. We hope you’re enjoying your time here so far. Let us introduce ourselves - we at Collegian, aim to help those within the college community connect with each other in order to provide greater pool of resources as well as bridging the gap of the colleges in the vicinity. </small></p>
    </div>
  </div>

  <img src="static/logo.png" class="logo" style="height:200px;width:350px">
  <a href="{{ url_for('login') }}"><button type="button" style="height:60px;width:120px" class="btn btn-warning big_button">Login</button></a>
  <a href="{{ url_for('register') }}"><button type="button" style="height:60px;width:120px" class="btn btn-dark" href="{{ url_for('register') }}">Register</button></a>


{% endblock %}