{% extends 'base2.html' %}

{% block content %}
<video autoplay loop id="video-background" muted plays-inline; width=100%>
  <source src="{{ url_for('static',filename='video.mp4') }}" type="video/mp4"; codecs="avc1.4D401E, mp4a.40.2">
</video>
<div class="card">
    <div class="card-body">
      <h3 class="card-title">Our Story</h3>
      <p class="card-text">We are trying to change the college learning experience.</p>
      <p class="card-text"><small class="text-muted">we are the best</small></p>
    </div>
  </div>


<div class="container">
    <div class="row">
      <div class="col-10">
        <a href="{{ url_for('login') }}"><button type="button" style="height:50px;width:100px" class="btn btn-warning big_button">Login</button></a>
      </div>
      <div class="col">
        <a href="{{ url_for('register') }}"><button type="button" style="height:50px;width:100px" class="btn btn-dark" href="{{ url_for('register') }}">Register</button></a>
      </div>
    </div>
</div>


{% endblock %}