{% extends 'base.html' %}

{% block content %}
<h1 class="text-center">Log in</h1>
<br>
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <form method="post" action="{{ url_for('login') }}">
            <nice_input field_name="username" place_holder=""></nice_input>
            <nice_input field_name="password" place_holder=""></nice_input>
            <input type="submit" value="Login">
        </form>
    </div>
    <div class="col-4"></div>
</div>

{% endblock %}