{% extends 'base.html' %}

{% block content%}
<div class="col-12">
    <h1>Profile Information</h1>
</div>
<div class="row">
    <div class = "col-6">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{img_src}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{payload.name}}</h5>
                <h5 class="card-degree"></h5>
                <h5 class="card-text_degree">Degree: {{payload.degree}}</h5>
                <h5 class="card-year">Year: {{payload.year}}</h5>
                <p class="card-text_year">{{year}}</p>
            </div>
        </div>
    </div>
    <div class = "col-6">
        <h1>List of courses</h1>
        <h5>Current</h5>
        <ul v4-for = "course in courses" class="list-group">
                <li class="list-group-item">{{course}}</li>
            </ul>
        <h5>Taken</h5>
        <ul v4-for = "course in courses" class="list-group">
                <li class="list-group-item">{{course}}</li>
        </ul>
    </div>
</div>
{% endblock %}