{% extends 'base.html' %}

{% block content %}
<h1>Register your Collegian Account</h1>
<div class="row">
    <form method="post">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Username</span>
            </div>
            <input type="text" class="form-control" placeholder="">
        </div>
        <nice_input field_name="username" place_holder=""></nice_input>
        <label for="username">Username</label>
        <input name="username" id="username" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <input type="submit" value="Register">
    </form>
</div>
{% endblock %}